<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src ;
				if(!chosen){
					image_src = '../resources/img/helmet.jpg';
				  }
				else{ 
					image_src = '../resources/img/player'+chosen[0].id+'.jpg';
				  }
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
				<% 
if(!chosen){ %>
											<option selected>Select Players </option>
										<% } %>
<% if(chosen){ %>
											<option selected> <%= chosen[0].name %> </option>
										<% } %>
										
			<% for(var i = 0; i < players.length; i++){ %>
																												 
														 <option value = "<%= players[i].id %>"> <%= players[i].name %> </option>
											<% } %>
							
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						 <% 
										var year;
										var maj;
										var games;
										var pass;
										var avgPass;
										var run;
										var avgRun;
										var rec;
										var avgRec;
										if(chosen){
											year = chosen[0].year;
											maj = chosen[0].major;
											games = gamesPlayed;
											pass = chosen[0].passing_yards;
											avgPass = Math.floor(parseInt(chosen[0].passing_yards)/parseInt(gamesPlayed));
											run = chosen[0].rushing_yards;
											avgRun = Math.floor(parseInt(chosen[0].rushing_yards)/parseInt(gamesPlayed));
											rec = chosen[0].receiving_yards;
											avgRec = Math.floor(parseInt(chosen[0].receiving_yards)/parseInt(gamesPlayed));
										}
											%>

						<tr>



							<th>Year</th>
							<td> <%= year %>	</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>	<%= maj %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td> <%= games %>	</td>
						</tr>
						<tr>
							<td>Passing Yards: <%= pass %> </td>
							<td>Avg. Passing Yards: <%= avgPass %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%= run %></td>
							<td>Avg. Rushing Yards: <%= avgRun %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%= rec %></td>
							<td>Avg. Receiving Yards: <%= avgRec %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>
